<div class="preloader-area">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <ul class="social-links">
                    <li>Follow Us:</li>
                    <li>
                        <a href="#">
                            <i class="icofont-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-7">
                <ul class="header-info">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>27 Division St, New York, NY 10002, USA</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                 <a class="navbar-brand" href="index.html">.Tura<span>cos.</span></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                       <li class="nav-item active"> <a class="nav-link" href="index.php">Home</a> </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown">
                                About Us
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="about.html">About Us</a>
                                <a class="dropdown-item" href="team.html">Our Team</a>
                                <a class="dropdown-item" routerLink="/contact">Contact</a>
                            </div>
                        </li>
                         <li class="nav-item"> <a class="nav-link" routerLink="/service">Services</a> </li>
                         <li class="nav-item"> <a class="nav-link" routerLink="/project">Project</a> </li>
                         <li class="nav-item"> <a class="nav-link" routerLink="/blog">Blog</a> </li>
                        <li class="nav-item"> <a class="nav-link" routerLink="/contact">Contact</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="navbar-right-side">
                    <div class="lang">
                        <select>
                            <option>En</option>
                            <option>Fr</option>
                        </select>
                    </div>
                    <div id="google_translate_element" style="position: absolute; z-index: 10000; right: 0;top: 70px;"></div>
                    <h5>Call us:
                        <a href="#">+0088-452-4571</a>
                    </h5>
                    <div class="modal-taggle-button">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#myModal2">
                            <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
