<footer class="footer-area repair-footer-area bg-f3f0e8">

    <section class="repair-subscribe-area">
        <div class="container">
            <div class="repair-subscribe-content">
                <h2>Subscribe to our newsleter</h2>
                <form class="newsletter-form" data-bs-toggle="validator">
                    <div class="form-group">
                        <input type="text" class="input-newsletter" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-newsletter" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input
                            type="email"
                            class="input-newsletter"
                            placeholder="Email Address*"
                            name="EMAIL"
                            required="required"
                            autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit
                        <i class="icofont-arrow-right"></i>
                    </button>
                    <div id="validator-newsletter" class="form-result"></div>
                </form>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="index-5.html">.Tura<span>cos.</span></a>
                    </div>
                    <p>Turacos have much planned for the future, working with great clients and
                        continued software development. If you'd like to join our team, then we'd also
                        love to hear from you.</p>
                    <ul class="social-links">
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
                    <ul class="services-list">
                        <li>
                            <a href="single-project.html">Strategy & Research</a>
                        </li>
                        <li>
                            <a href="single-project.html">Reports & Analytics</a>
                        </li>
                        <li>
                            <a href="single-project.html">Managment & Marketing</a>
                        </li>
                        <li>
                            <a href="single-project.html">Infographics Content</a>
                        </li>
                        <li>
                            <a href="single-project.html">Media Promotion</a>
                        </li>
                        <li>
                            <a href="single-project.html">Content Marketing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>
                    <ul class="contact-list">
                        <li>
                            <span>Adress:</span>
                            27 Division St, New York, NY 10002, USA</li>
                        <li>
                            <span>Website:</span>
                            <a href="#">turacos.com</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="#">
                                <span class="__cf_email__" data-cfemail="d1a5a4a3b0b2bea291b6bcb0b8bdffb2bebc">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <span>Phone:</span>
                            <a href="#">+0 (321) 984 754</a>
                        </li>
                        <li>
                            <span>Fax:</span>
                            <a href="#">+0 (321) 984 754</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Working Hours</h3>
                    <ul class="working-hours">
                        <li>
                            <span>Monday:</span>
                            8AM - 6PM</li>
                        <li>
                            <span>Tuesday:</span>
                            8AM - 6PM</li>
                        <li>
                            <span>Wednesday:</span>
                            8AM - 6PM</li>
                        <li>
                            <span>Thursday - Friday:</span>
                            8AM - 6PM</li>
                        <li>
                            <span>Sunday:</span>
                            Closed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 text-end">
                    <p>Copyright @ 2021 XYZ. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
