
   <div class="preloader-area">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

<div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="logo">
                    <a href="index.html">.Tura<span>cos.</span></a>
                </div>
                <p>Turacos have much planned for the future, working with great clients and
                    continued software development. If you'd like to join our team, then we'd also
                    love to hear from you.</p>
                <ul class="modal-contact-info">
                    <li>
                        <i class="icofont-google-map"></i>
                        <b>27 Division St</b>New York, NY 10002, USA
                    </li>
                    <li>
                        <i class="icofont-ui-call"></i>
                        <b>+0 (321) 984 754</b>Give us a call
                    </li>
                    <li>
                        <i class="icofont-envelope"></i>
                        <b>
                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="3044454251535f4370575d51595c1e535f5d">[email&#160;protected]</a>
                        </b>24/7 online support
                    </li>
                </ul>
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <i class="icofont-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="page-title animatedBackground">
    <div class="container">
        <h3>Contact</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li class="dot-divider"></li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="bg-pattern"><img src="../../assets/img/bg-pattern-2.png" alt="pattern"></div>
</div>


<div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="logo"><a href="index.html">.Tura<span>cos.</span></a></div>
                <p>Turacos have much planned for the future, working with great clients and continued software
                    development. If you'd like to join our team, then we'd also love to hear from you.</p>
                <ul class="modal-contact-info">
                    <li><i class="icofont-google-map"></i> <b>27 Division St</b>New York, NY 10002, USA</li>
                    <li><i class="icofont-ui-call"></i> <b>+0 (321) 984 754</b>Give us a call</li>
                    <li><i class="icofont-envelope"></i> <b><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="681c1d1a090b071b280f05090104460b0705">[email&#160;protected]</a></b>24/7
                        online support</li>
                </ul>
                <ul class="social-links">
                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                    <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="contact-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-phone"></i>
                    </div>
                    <div class="content">
                        <h4>Phone / Fax</h4>
                        <p><a href="#">(+021) 245522455</a></p>
                        <p><a href="#">(+000) 245522455</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-envelope"></i>
                    </div>
                    <div class="content">
                        <h4>E-mail</h4>
                        <p><a href="#"><span class="__cf_email__"
                                    data-cfemail="eb82858d84ab9f9e998a888498c5888486">[email&#160;protected]</span> </a>
                        </p>
                        <p><a href="#"><span class="__cf_email__"
                                    data-cfemail="63101613130c11172317161102000c104d000c0e">[email&#160;protected]</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-google-map"></i>
                    </div>
                    <div class="content">
                        <h4>Location</h4>
                        <p>2750 Quadra Street , Park Area, <span>Victoria, Canada.</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.183428676294!2d-73.99830468434455!3d40.71397834543092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a263f3910db%3A0xd6e6cdf32a6b11b1!2s27%20Division%20St%2C%20New%20York%2C%20NY%2010002%2C%20USA!5e0!3m2!1sen!2sbd!4v1615439777803!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact-text">
                    <h3>Get in Touch</h3>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam
                        tempus magna vel turpis pharetra dictum.</p>
                    <p>Sed blandit tempus purus, sed sodales leo rutrum vel. Nam vulputate ipsum ac est congue, eget
                        commodo magna lobortis.</p>
                    <ul class="social-links">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <form [formGroup]="ContactForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    placeholder="Name" formControlName="name">
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('name').valid && submitform">Please enter valid name field</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" 
                                    placeholder="Email" formControlName="email">
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('email').valid && submitform">Please enter valid email</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="subject" class="form-control" 
                                 placeholder="Subject" formControlName="subject">
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('subject').valid && submitform">Please fill this field</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" 
                                     placeholder="Your Message" formControlName="message"></textarea>
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('message').valid && submitform">Please fill this field</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    placeholder="City" formControlName="city_id">
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('city_id').valid && submitform">Please fill this field</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    placeholder="State" formControlName="state_id">
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('state_id').valid && submitform">Please fill this field</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    placeholder="Mobile" formControlName="phone">
                                    <!-- <small class="text-danger" *ngIf="!contactForm.get('phone').valid && submitform">Please enter valid mobile number</small> -->
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</section>


    <section class="subscribe-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="newsletter">
                        <h4>Join Our Newsletter</h4>
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email address" name="EMAIL"
                                required autocomplete="off">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>