<body>

    <div class="preloader-area">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="logo">
                        <a href="index.html">.Tura<span>cos.</span></a>
                    </div>
                    <p>Turacos have much planned for the future, working with great clients and
                        continued software development. If you'd like to join our team, then we'd also
                        love to hear from you.</p>
                    <ul class="modal-contact-info">
                        <li>
                            <i class="icofont-google-map"></i>
                            <b>27 Division St</b>New York, NY 10002, USA
                        </li>
                        <li>
                            <i class="icofont-ui-call"></i>
                            <b>+0 (321) 984 754</b>Give us a call
                        </li>
                        <li>
                            <i class="icofont-envelope"></i>
                            <b>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="3044454251535f4370575d51595c1e535f5d">[email&#160;protected]</a>
                            </b>24/7 online support
                        </li>
                    </ul>
                    <ul class="social-links">
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="page-title animatedBackground">
        <div class="container">
            <h3>Project</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="dot-divider"></li>
                <li>Project</li>
            </ul>
        </div>
        <div class="bg-pattern"><img src="../../assets/img/bg-pattern-2.png" alt="pattern"></div>
    </div>


    <div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="logo"><a href="index.html">.Tura<span>cos.</span></a></div>
                    <p>Turacos have much planned for the future, working with great clients and continued software
                        development. If you'd like to join our team, then we'd also love to hear from you.</p>
                    <ul class="modal-contact-info">
                        <li><i class="icofont-google-map"></i> <b>27 Division St</b>New York, NY 10002, USA</li>
                        <li><i class="icofont-ui-call"></i> <b>+0 (321) 984 754</b>Give us a call</li>
                        <li><i class="icofont-envelope"></i> <b><a href="/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="3246474053515d4172555f535b5e1c515d5f">[email&#160;protected]</a></b>24/7
                            online support</li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section class="project-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="shorting-menu text-center">
                        <button class="filter" data-filter="all">All</button>
                        <button class="filter" data-filter=".brand">Brand</button>
                        <button class="filter" data-filter=".design">Design</button>
                        <button class="filter" data-filter=".graphic">Graphic</button>
                        <button class="filter" data-filter=".photoshop">Photoshop</button>
                        <button class="filter" data-filter=".illustrator">Illustrator</button>
                    </div>
                </div>
            </div>
            <div class="shorting">
                <div class="row m-0">
                    <div class="col-lg-6 col-md-6 mix brand p-0">
                        <div class="single-work">
                            <img src="assets/img/work-img1.jpg" alt="work-img">
                            <div class="work-content">
                                <h4>Creative Design</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li>.</li>
                                    <li><a href="#">Brand</a></li>
                                </ul>
                            </div>
                            <a href="single-project.html" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="assets/img/work-img1.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mix design p-0">
                        <div class="single-work">
                            <img src="assets/img/work-img2.jpg" alt="work-img">
                            <div class="work-content">
                                <h4>Creative Design</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li>.</li>
                                    <li><a href="#">Brand</a></li>
                                </ul>
                            </div>
                            <a href="single-project.html" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="assets/img/work-img2.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mix graphic p-0">
                        <div class="single-work">
                            <img src="assets/img/work-img3.jpg" alt="work-img">
                            <div class="work-content">
                                <h4>Creative Design</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li>.</li>
                                    <li><a href="#">Brand</a></li>
                                </ul>
                            </div>
                            <a href="single-project.html" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="assets/img/work-img3.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mix photoshop p-0">
                        <div class="single-work">
                            <img src="assets/img/work-img4.jpg" alt="work-img">
                            <div class="work-content">
                                <h4>Creative Design</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li>.</li>
                                    <li><a href="#">Brand</a></li>
                                </ul>
                            </div>
                            <a href="single-project.html" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="assets/img/work-img4.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mix design p-0">
                        <div class="single-work">
                            <img src="assets/img/work-img5.jpg" alt="work-img">
                            <div class="work-content">
                                <h4>Creative Design</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li>.</li>
                                    <li><a href="#">Brand</a></li>
                                </ul>
                            </div>
                            <a href="single-project.html" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="assets/img/work-img5.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mix illustrator p-0">
                        <div class="single-work">
                            <img src="assets/img/work-img6.jpg" alt="work-img">
                            <div class="work-content">
                                <h4>Creative Design</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li>.</li>
                                    <li><a href="#">Brand</a></li>
                                </ul>
                            </div>
                            <a href="single-project.html" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="assets/img/work-img6.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="subscribe-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="newsletter">
                        <h4>Join Our Newsletter</h4>
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email address" name="EMAIL"
                                required autocomplete="off">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>