<body>

    <div class="preloader-area">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="logo">
                        <a href="index.html">.Tura<span>cos.</span></a>
                    </div>
                    <p>Turacos have much planned for the future, working with great clients and
                        continued software development. If you'd like to join our team, then we'd also
                        love to hear from you.</p>
                    <ul class="modal-contact-info">
                        <li>
                            <i class="icofont-google-map"></i>
                            <b>27 Division St</b>New York, NY 10002, USA
                        </li>
                        <li>
                            <i class="icofont-ui-call"></i>
                            <b>+0 (321) 984 754</b>Give us a call
                        </li>
                        <li>
                            <i class="icofont-envelope"></i>
                            <b>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="3044454251535f4370575d51595c1e535f5d">[email&#160;protected]</a>
                            </b>24/7 online support
                        </li>
                    </ul>
                    <ul class="social-links">
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="page-title animatedBackground">
        <div class="container">
            <h3>Blog</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="dot-divider"></li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="bg-pattern"><img src="../../assets/images/bg-pattern-2.png" alt="pattern"></div>
    </div>



    <div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="logo"><a href="index.html">.Tura<span>cos.</span></a></div>
                    <p>Turacos have much planned for the future, working with great clients and continued software
                        development. If you'd like to join our team, then we'd also love to hear from you.</p>
                    <ul class="modal-contact-info">
                        <li><i class="icofont-google-map"></i> <b>27 Division St</b>New York, NY 10002, USA</li>
                        <li><i class="icofont-ui-call"></i> <b>+0 (321) 984 754</b>Give us a call</li>
                        <li><i class="icofont-envelope"></i> <b><a href="/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="82f6f7f0e3e1edf1c2e5efe3ebeeace1edef">[email&#160;protected]</a></b>24/7
                            online support</li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section class="blog-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-1">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-5">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-2">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-3">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-4">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-5">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-1">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-2">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-3">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog-item bg-4">
                                <span>Business & Tech</span>
                                <h4><a href="#">10 Hot Marketing Trends You Need to Implement in 2021</a></h4>
                                <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim
                                    vest ibul lorem pretium semper lectus ac digni...</p>
                                <a href="single-blog.html" title="Read More" class="link-btn"><i
                                        class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pagination-area">
                                <nav aria-label="navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a class="page-link" href="#"><i
                                                    class="icofont-double-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i
                                                    class="icofont-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="side-bar mb-0">
                        <div class="widget-box search-box">
                            <form>
                                <input type="text" placeholder="Search here..." class="form-control">
                                <button type="submit"><i class="icofont-search-2"></i></button>
                            </form>
                        </div>
                        <div class="widget-box categories-box">
                            <h3 class="title">Categories</h3>
                            <ul>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Design Tutorials (5)</a></li>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Branding (8)</a></li>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Arts and Entertainment (4)</a></li>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Blog Post (6)</a></li>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Seo Analysis (3)</a></li>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Online Marketing (15)</a></li>
                                <li><a href="#"><i class="icofont-dotted-right"></i> Email Marketing (12)</a></li>
                            </ul>
                        </div>
                        <div class="widget-box tags-box">
                            <h3 class="title">Tags</h3>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Arts</a></li>
                                <li><a href="#">Blog Post</a></li>
                                <li><a href="#">Seo Analysis</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Email Marketing</a></li>
                            </ul>
                        </div>
                        <div class="widget-box recent-post-box mb-0">
                            <h3 class="title">Recent Post</h3>
                            <ul>
                                <li>
                                    <div class="recent-post-thumb">
                                        <a href="#"><img src="assets/img/blog-img1.jpg" alt="pic"></a>
                                    </div>
                                    <div class="recent-post-desc">
                                        <h3><a href="#">10 Hot Marketing Trends You Need to Implement</a></h3>
                                        <span class="date">23 November 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-post-thumb">
                                        <a href="#"><img src="assets/img/blog-img2.jpg" alt="pic"></a>
                                    </div>
                                    <div class="recent-post-desc">
                                        <h3><a href="#">10 Hot Marketing Trends You Need to Implement</a></h3>
                                        <span class="date">23 November 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-post-thumb">
                                        <a href="#"><img src="assets/img/blog-img3.jpg" alt="pic"></a>
                                    </div>
                                    <div class="recent-post-desc">
                                        <h3><a href="#">10 Hot Marketing Trends You Need to Implement</a></h3>
                                        <span class="date">23 November 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-post-thumb">
                                        <a href="#"><img src="assets/img/blog-img4.jpg" alt="pic"></a>
                                    </div>
                                    <div class="recent-post-desc">
                                        <h3><a href="#">10 Hot Marketing Trends You Need to Implement</a></h3>
                                        <span class="date">23 November 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-post-thumb">
                                        <a href="#"><img src="assets/img/blog-img5.jpg" alt="pic"></a>
                                    </div>
                                    <div class="recent-post-desc">
                                        <h3><a href="#">10 Hot Marketing Trends You Need to Implement</a></h3>
                                        <span class="date">23 November 2021</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="subscribe-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="newsletter">
                        <h4>Join Our Newsletter</h4>
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email address" name="EMAIL"
                                required autocomplete="off">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>