<div class="modal right fade sidebarModal" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="logo">
                    <a href="index.html">.Tura<span>cos.</span></a>
                </div>
                <p>Turacos have much planned for the future, working with great clients and
                    continued software development. If you'd like to join our team, then we'd also
                    love to hear from you.</p>
                <ul class="modal-contact-info">
                    <li>
                        <i class="icofont-google-map"></i>
                        <b>27 Division St</b>New York, NY 10002, USA
                    </li>
                    <li>
                        <i class="icofont-ui-call"></i>
                        <b>+0 (321) 984 754</b>Give us a call
                    </li>
                    <li>
                        <i class="icofont-envelope"></i>
                        <b>
                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="3044454251535f4370575d51595c1e535f5d">[email&#160;protected]</a>
                        </b>24/7 online support
                    </li>
                </ul>
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <i class="icofont-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="marketing-agency-banner">
    <div class="container">
        <div class="marketing-agency-banner-content">
            <h1>A Top Rated Digital Marketing Agency</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor dolore magna aliqua.</p>
            <a href="#" class="btn btn-primary">Get Started Now</a>
        </div>
    </div>
    <div class="shape1"><img src="../../assets/images/shape1.png" alt="image"></div>
    <div class="shape2"><img src="../../assets/images/shape2.png" alt="image"></div>
    <div class="shape3"><img src="../../assets/images/shape3.png" alt="image"></div>
    <div class="shape4"><img src="../../assets/images/shape4.png" alt="image"></div>
    <div class="shape5"><img src="../../assets/images/shape5.png" alt="image"></div>
    <div class="shape6"><img src="../../assets/images/shape6.png" alt="image"></div>
</div>

<div class="partner-area ptb-70 bg-f9f9f9">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-6 col-sm-4 col-md-2">
                <div class="partner-item">
                    <a href="#"><img src="../../assets/images/partner-1.png" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-2">
                <div class="partner-item">
                    <a href="#"><img src="../../assets/images/partner-2.png" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-2">
                <div class="partner-item">
                    <a href="#"><img src="../../assets/images/partner-3.png" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-2">
                <div class="partner-item">
                    <a href="#"><img src="../../assets/images/partner-4.png" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-2">
                <div class="partner-item">
                    <a href="#"><img src="../../assets/images/partner-5.png" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-2">
                <div class="partner-item">
                    <a href="#"><img src="../../assets/images/partner-6.png" alt="partner"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="featured-services-area ptb-100">
    <div class="container">
        <div class="section-title text-center">
            <span>Services</span>
            <h3>Featured Services</h3>
            <p>We enjoy adapting our strategies to offer every client the best solutions
                that are at the forefront of the industry.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="icofont-stock-mobile"></i>
                    </div>
                    <h3>Earned Media</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="icofont-laptop-alt"></i>
                    </div>
                    <h3>Paid Media</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="icofont-search-document"></i>
                    </div>
                    <h3>Strategy & Research</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape7"><img src="../../assets/images/shape7.png" alt="image"></div>
    <div class="shape8"><img src="../../assets/images/shape8.png" alt="image"></div>
</section>

<section class="creative-area">
    <div class="container">
        <div class="creative-content">
            <h2>Leading the way in Creative Digital Agency</h2>
            <p>We provide marketing services to startups and small businesses to looking for
                a partner of their digital media, design & development, lead generation and
                communications requirents. We work with you, not for you. Although we have a
                great resources.</p>
            <p>We are an experienced and talented team of passionate consultants who live
                and breathe search engine marketing.</p>
            <p>We have developed search strategies for leading brands to small and medium
                sized businesses across many industries in the UK and worldwide.</p>
            <a href="about.html" class="link-btn">View More About Us</a>
        </div>
    </div>
</section>

<section class="solutions-area ptb-100">
    <div class="container">
        <div class="section-title text-center">
            <span>Services/Solutions</span>
            <h3>Our Services / Digital Marketing Solutions</h3>
            <p>We enjoy adapting our strategies to offer every client the best solutions
                that are at the forefront of the industry.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <i class="icofont-bullseye"></i>
                    </div>
                    <h3>Management & Marketing</h3>
                    <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <i class="icofont-text-width"></i>
                    </div>
                    <h3>Content Marketing</h3>
                    <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <i class="icofont-paper-plane"></i>
                    </div>
                    <h3>Digital Branding</h3>
                    <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <i class="icofont-ui-keyboard"></i>
                    </div>
                    <h3>Keyword Research</h3>
                    <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <i class="icofont-brand-amazon"></i>
                    </div>
                    <h3>Amazon Marketing</h3>
                    <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <i class="icofont-envelope"></i>
                    </div>
                    <h3>Email Marketing</h3>
                    <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas.</p>
                    <a href="services-1.html" class="link-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="growth-area bg-f3f0e8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="growth-image">
                    <img src="../../assets/images/growth-img.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="growth-content">
                    <div class="content">
                        <h2>We Deliver Success</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="list">
                            <li>
                                <div class="d-flex align-items-center">
                                    <span>80%</span>
                                    Increased Conversion Rates
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <span>90%</span>
                                    Increased Traffic
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <span>99%</span>
                                    Increased Revenue
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="company-strategy-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-company-strategy-box">
                    <h3>Industry-Leading Expert Staff</h3>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                        suspendisse ultrices gravida.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-company-strategy-box active">
                    <h3>Customer Focused Organization</h3>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                        suspendisse ultrices gravida.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-company-strategy-box">
                    <h3>Award-Winning Work</h3>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                        suspendisse ultrices gravida.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-area ptb-100">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Team</span>
            <h3>Expert Industry Leadership</h3>
            <p>We enjoy adapting our strategies to offer every client the best solutions
                that are at the forefront of the industry.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../../assets/images/team5.jpg" alt="team">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Matthew Hunter</h3>
                        <span>Co-Founder CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../../assets/images/team6.jpg" alt="team">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Sarah Taylor</h3>
                        <span>Marketing Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../../assets/images/team7.jpg" alt="team">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Jonathon Stick</h3>
                        <span>SEO Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../../assets/images/team8.jpg" alt="team">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Alysa Rys</h3>
                        <span>Content Lead</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-area ptb-100 bg-f3f0e8">
    <div class="container">
        <div class="section-title text-center">
            <span>Our News</span>
            <h3>Latest Blog Posts</h3>
            <p>We enjoy adapting our strategies to offer every client the best solutions
                that are at the forefront of the industry.</p>
        </div>
        <div class="row">
            <div class="blog-slider">
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post-item bg-1">
                        <div class="author-info">
                            <div class="d-flex align-items-center">
                                <img src="../../assets/images/user1.jpg" alt="image">
                                <span>By Admin</span>
                            </div>
                        </div>
                        <h4>
                            <a href="#">10 Hot Marketing Trends You Need to Implement in 2020</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a href="single-blog.html" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post-item bg-2">
                        <div class="author-info">
                            <div class="d-flex align-items-center">
                                <img src="../../assets/images/user2.jpg" alt="image">
                                <span>By Admin</span>
                            </div>
                        </div>
                        <h4>
                            <a href="#">How to use Recoiljs in Next.js Framework</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a href="single-blog.html" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post-item bg-3">
                        <div class="author-info">
                            <div class="d-flex align-items-center">
                                <img src="../../assets/images/user3.jpg" alt="image">
                                <span>By Admin</span>
                            </div>
                        </div>
                        <h4>
                            <a href="#">How to setup Redux in React Next application</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a href="single-blog.html" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post-item bg-4">
                        <div class="author-info">
                            <div class="d-flex align-items-center">
                                <img src="../../assets/images/user4.jpg" alt="image">
                                <span>By Admin</span>
                            </div>
                        </div>
                        <h4>
                            <a href="#">Instagram Feed add to your WordPress site</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a href="single-blog.html" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>